global
    server  100.123.112.33  weight 20  max  50
    server  31.33.76.1  weight 12  max  7
    server  21.1.46.7  weight 23  max  56

backend www.baidu1.com
    server  100.123.112.33  weight 20  max  50
    server  31.33.76.1  weight 12  max  7
    server  21.1.46.7  weight 23  max  56
    server  34.2.24.34  weight 45  max  45
    server  56.5.86.55  weight 56  max  8


backend www.edit.com
    server  1.1.1.1  weight 1  max  1


backend www.baidu2.com
    server  100.123.112.33  weight 20  max  50
    server  31.33.76.1  weight 12  max  7
    server  21.1.46.7  weight 23  max  56

backend www.baidu3.com
    server  100.123.112.33  weight 20  max  50
    server  31.33.76.1  weight 12  max  7
    server  21.1.46.7  weight 23  max  56


